<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container mt-5">

		<div class="row">
			<div class="col-sm" th:each="subsidiary: ${request.subsidiaryList}">			
				<div class="card" >
					<img class="card-img-top" th:src="${subsidiary.image}" th:alt="${subsidiary.name}">
					<div class="card-body">
						<h5 class="card-title" th:text="${subsidiary.name}"></h5>
						<p class="card-text" th:text="${subsidiary.category}"></p>
		    			<a href="${subsidiary.showMenu.href}" class="btn btn-primary">Ver menú</a>
					</div>
				</div>
			</div>		
		</div>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script>
	function getLocation() {
	  if (navigator.geolocation) 
	    navigator.geolocation.getCurrentPosition(showPosition)
	  else 
	    x.innerHTML = "Geolocation is not supported by this browser."
	}
	
	function showPosition(position) {
		document.getElementById("demo").innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude
	}
</script>
</html>